version: "3.9"

services:
  api:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://admin:password@mongo:27017/sita?authSource=admin
      - SECRET_KEY=dev-secret-change-me
      - FLASK_DEBUG=True
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app

  mongo:
    image: mongo:7
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=sita
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1.0.2-20
    restart: unless-stopped
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=password
    ports:
      - "8081:8081"
    depends_on:
      - mongo

volumes:
  mongo_data:
